@import "variables.less";
@import "mixins.less";

@import "Sprites/Style.less";

@import "popup/uiTaskForm/Style.less";
@import "popup/uiViewTaskForm/Style.less";

.uiTeamBPortlet {
	max-width: 99.8%;
	min-height: 400px;
	border: solid 1px blue;
	padding: 15px;
	
	a.item-hover {
		visibility: hidden;
	}

	.display-over a.item-hover {
		visibility: visible;
	}
	
	.TaskContainer .uiGrid.table td {
		vertical-align:top;
	}
}


