@import "variables.less";
@import "mixins.less";

@import "Sprites/Style.less";

@import "popup/uiTaskForm/Style.less";
@import "popup/uiViewTaskForm/Style.less";
@import url('/calendar/skin/css/calendar.css');

.uiTeamBPortlet {
	max-width: 99.8%;
	min-height: 400px;
	padding: 15px;
	
	a.item-hover {
		visibility: hidden;
	}

	.display-over a.item-hover {
		visibility: visible;
	}
	
	.uiActionBar {
		.alignBtnGroup {
		    text-align: center;
		}
		.UIForm {
			float: none;
		}
		.uiSelectbox {
			width: 150px;
			margin: 0px 10px;
			select.selectbox {
				width: 150px;
			}
		}
		.uiChangeView {
			float: right;
		}
		.uiSearchInput label {
			margin: 0px;
		}
	}
	.ellipsis {
  	display:block;width:auto;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	}
	.TaskContainer {
		.uiGrid.table td {
			vertical-align:top;
			padding: 8px 5px;
		}
		.taskTitle {
			float: left;
		}
		.tmpItem {
			border: dashed 2px gray;
			height: 24px;
			display: none;
		}
	}
	
}


