//
// Sprites
// --------------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="iconinbox"></i>.

// For the white version of the icons, just add the .iconwhite class: 
// <i class="iconinbox iconwhite"></i>


/* Icons color */

[class^="uiIconColor"]{
  display: inline-block;
  width: 16px;
  height: 16px;
  .ie7-restore-right-whitespace();
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("/eXoResources/skin/images/Icons/uiIconColor.png");
  background-repeat: no-repeat;
}

[class^="uiIconColor"]:hover{
	background-image: url("/eXoResources/skin/images/Icons/uiIconColor.png");
}

.uiIconColorBell{
	background-position: -160px 0;
}




